@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Comic+Neue:wght@300&family=Mukta:wght@200&family=Neuton:wght@200&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Black Ops One', cursive;
    font-family: 'Comic Neue', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Neuton', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16rem;
    background: #fff;
    color: black;
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

h1,h2{
    
}